
@import "tailwindcss";
@plugin "daisyui";

.asteroid-vis {
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0; /* Add vertical padding */
  overflow: visible; /* Make sure nothing gets clipped */
}